{% for alias in aliases %}
resource "opnsense_firewall_alias" "{{ alias.config.name | replace('-', '_') }}" {
  name        = "{{ alias.config.name }}"
  type        = "{{ alias.config.type | default('host') }}"
  description = "{{ alias.config.description | default('') }}"

  content = [
    {% for item in alias.config.content %}
    "{{ item }}",
    {% endfor %}
  ]

  enabled = {{ alias.config.enabled | default(true) | lower }}
  {% if alias.config.proto is defined %}
  proto = "{{ alias.config.proto }}"
  {% endif %}
  {% if alias.config.updatefreq is defined %}
  updatefreq = "{{ alias.config.updatefreq }}"
  {% endif %}
  {% if alias.config.categories is defined %}
  categories = [
    {% for category in alias.config.categories %}
    "{{ category }}",
    {% endfor %}
  ]
  {% endif %}
  {% if alias.config.counters is defined %}
  counters = {{ alias.config.counters | lower }}
  {% endif %}
  {% if alias.config.interface is defined %}
  interface = "{{ alias.config.interface }}"
  {% endif %}
}

{% endfor %}
