---
# OPNsense Inventory
# Set OPNSENSE_API_URL, OPNSENSE_API_KEY, OPNSENSE_API_SECRET environment variables
all:
  children:
    opnsense:
      hosts:
        opnsense_firewall:
          ansible_host: "{% raw %}{{ lookup('env', 'OPNSENSE_HOST') | default('opnsense.local') }}{% endraw %}"
          ansible_connection: local
      vars:
        opnsense_api_url: "{% raw %}{{ lookup('env', 'OPNSENSE_API_URL') | default('', true) }}{% endraw %}"
        opnsense_api_key: "{% raw %}{{ lookup('env', 'OPNSENSE_API_KEY') }}{% endraw %}"
        opnsense_api_secret: "{% raw %}{{ lookup('env', 'OPNSENSE_API_SECRET') }}{% endraw %}"
