# Kea DHCP Reservations (Static Mappings)
{% for reservation in reservations %}

resource "opnsense_kea_reservation" "{{ reservation.name | replace('-', '_') }}" {
  subnet_id   = opnsense_kea_subnet.{{ reservation.config.subnet_ref | replace('-', '_') }}.id
  mac_address = "{{ reservation.config.hw_address }}"
  ip_address  = "{{ reservation.config.ip_address }}"
  hostname    = "{{ reservation.config.get('hostname', reservation.name) }}"

  {% if reservation.config.get('description') %}
  description = "{{ reservation.config.description }}"
  {% endif %}
}
{% endfor %}
