# Outputs for OPNsense resources

{% if resources_by_type.get('firewall_rules') %}
output "firewall_rules" {
  description = "Created firewall rules"
  value = [
    {% for rule in resources_by_type['firewall_rules'] %}
    "{{ rule.config.name }}",
    {% endfor %}
  ]
}
{% endif %}

{% if resources_by_type.get('aliases') %}
output "aliases" {
  description = "Created aliases"
  value = [
    {% for alias in resources_by_type['aliases'] %}
    "{{ alias.config.name }}",
    {% endfor %}
  ]
}
{% endif %}

{% if resources_by_type.get('unbound_host_override') %}
output "unbound_host_overrides" {
  description = "Created Unbound DNS host overrides"
  value = [
    {% for override in resources_by_type['unbound_host_override'] %}
    "{{ override.config.hostname }}.{{ override.config.domain }}",
    {% endfor %}
  ]
}
{% endif %}
