---
# OPNsense Ansible Playbook - Post-configuration
# Variables: opnsense_api_url, opnsense_api_key, opnsense_api_secret
- name: Configure OPNsense
  hosts: opnsense
  gather_facts: false

  tasks:
    - name: Reload firewall rules
      uri:
        url: "{% raw %}{{ opnsense_api_url }}{% endraw %}/api/firewall/filter/apply"
        method: POST
        headers:
          Authorization: "Basic {% raw %}{{ (opnsense_api_key + ':' + opnsense_api_secret) | b64encode }}{% endraw %}"
        validate_certs: false
      when: firewall_rules_changed | default(false)

    - name: Reload filter
      uri:
        url: "{% raw %}{{ opnsense_api_url }}{% endraw %}/api/firewall/filter/reload"
        method: POST
        headers:
          Authorization: "Basic {% raw %}{{ (opnsense_api_key + ':' + opnsense_api_secret) | b64encode }}{% endraw %}"
        validate_certs: false
