{% for vlan in vlans %}
resource "opnsense_vlan" "{{ vlan.config.name | replace('-', '_') }}" {
  device = "{{ vlan.config.device }}"
  tag    = {{ vlan.config.tag }}

  {% if vlan.config.description is defined %}
  description = "{{ vlan.config.description }}"
  {% endif %}

  {% if vlan.config.priority is defined %}
  priority = {{ vlan.config.priority }}
  {% endif %}
}

{% endfor %}
