{% for configmap in configmaps %}
resource "kubernetes_config_map" "{{ configmap.config.name | replace('-', '_') }}" {
  metadata {
    name      = "{{ configmap.config.name }}"
    namespace = "{{ configmap.config.namespace | default('default') }}"
  }

  data = {
    {% for key, value in configmap.config.data.items() %}
    "{{ key }}" = <<-EOT
{{ value }}
    EOT
    {% endfor %}
  }

  {% if dependency_refs or configmap.config.depends_on is defined %}
  depends_on = [
    {% for ref in dependency_refs %}
    {{ ref }},
    {% endfor %}
    {% if configmap.config.depends_on is defined %}
    {% for dep in configmap.config.depends_on %}
    {{ dep }},
    {% endfor %}
    {% endif %}
  ]
  {% endif %}
}

{% endfor %}
